@import url('https://rsms.me/inter/inter.css');

body {
    font-family: "Inter", "SF Pro Text", "Helvetica Neue", "Neue Haas Grotesk Text Pro", "Arial";
    background: #FFFFFF;
}

.nav-link {
 	color: #000000 !important;
  	background: #FFFFFF !important;
}

.menuWrap {
  	border: none !important;
 	box-shadow: none !important;
}

nav {
    box-shadow: none;
}

.menu-locked, .menu-closed, .menu-opened {
  display: none;
}

.menu-item h4 {
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
  	padding-left: 8px;
    color: #000000;
    font-size: 1em;
  	line-height: 3em;
    text-align: left;
}

.menu-item ul {
    border: none;
}

.portlet h2,
.breadcrumbs,
.actionBar,
.bgBanner {
    background: #FFFFFF !important;
  	color: #000000 !important;
 	text-shadow: none !important;
  	box-shadow: none !important;
}

.breadcrumbs .path a {
  color: #666666 !important;
}

.breadcrumbs .path li {
  color: #000000 !important;
}

.breadcrumbs {
    box-shadow: 0px;
    margin: 0px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.portlet {
    border: 0px solid white !important;
  	box-shadow: none !important;
}

.paneTabs {
    display: none;
}

.brandingImgWrap {
    height: 0px;
}

.eesy {
    display: none;
}

#column0 {
    width: 25% !important;
}

#column1 {
    width: 50% !important;
}

#column2 {
    width: 25% !important;
}



.appTabs a {
  	color: #000000 !important; 
}

.bannerImage {
  display: none !important
}

.active a {
  	text-shadow: none !important;
}

.topTabs {
    height: 50px;
    box-shadow: none;
  	color: #000000;
}

.brandingImgWrap a {
    top: -17px;
    left: 0px;
}

#appTabList {
    font-size: 1.5em;
    color: #000000;
}

.bannerImage {
    display: float !important;
    float: center !important;
}

.localViewToggle {
    background: #FFFFFF;
}

.topTabs .appTabs {
  	display: float !important;
  	float: left !important;
    margin-top: 1px;
  	margin-left: auto;
  	margin-right: auto;


  	color: #000000 !important;
}

.actionBar {
    display: none;
}

.menuWrap a {
 	color: #000000 !important; 
  	border: none !important;
}

#courseMenuPalette div.navPaletteContent ul li a span {
  	color: #000000;
}

.navigationPane {
 	box-shadow: none !important;
}

#courseMenuPalette div.navPaletteContent {
    background-color: #FFFFFF;
  	box-shadow: none !important;
}

.actionBarMicro {
    display: none;
}

.bgBanner {
    color: #424242;
}

.announcementList .item,
.announcementList-read .item,
#announcementList .item {
    font-size: 1.5em;
}

.contentBox {
    border: 0px solid white !important;
    box-shadow: none;
    background: #FFFFFF;
}

.portal .contentBox {
    border: 0px;
    box-shadow: none;
    background: #FFFFFF;
}

.container {
    display: float;
    margin-left: auto;
  	margin-right: auto;
    max-width: 1200px;
}

#quick_links_wrap a {
    display: none !important;
}

.pageTitle {
    background: #FFFFFF;
}

.menu-item li {
    vertical-align: top;
    text-overflow: ellipsis;
    font-size: 1em;
    height: 30px;
    border: 0px solid #FFFFFF !important;
    line-height: 1em;
    overflow: hidden;
    color: #000000;
}

.menu-item li a {
    color: #000000;
    text-decoration: none;
}

.menu-item li:hover,
.menu-item li a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}