body {
    /*    font-family: "Neue Haas Grotesk Text Pro", "Arial"; */
    font-family: "Helvetica Neue", "Neue Haas Grotesk Text Pro", "Arial", sans-serif;
}

.menu-item h4 {
    background: #DDDDDD;
    border-bottom: 0px;
    color: #000000;
    font-size: 1.2em;
    text-align: left;
    letter-spacing: -0.5px;
}

.menu-item ul {
    border: none;
}

.portlet h2, .breadcrumbs, .actionBar, .bgBanner {
    background: #424242 !important;
}
.breadcrumbs {
    box-shadow: 0px;
}
.portlet {
    border-color: #DDDDDD;
}
.paneTabs {
    display: none;
}
.brandingImgWrap {
    height: 0px;
}
.eesy {
    display: none;
}
#column1 {
    width: 60% !important;
}
#column0 {
    width: 20% !important;
}
#column2 {
    width: 20% !important;
}
.topTabs {
    height: 50px;
    box-shadow: none;
}
.brandingImgWrap a {
    top: -17px;
    left: 0px;
}
#appTabList {
    padding-right: 10px;
    font-size: 1.4em;
    color: #FFFFFF;
}
.bannerImage {
    display: float !important;
    float: center !important;
}
.localViewToggle {
    background: #DDDDDD;
}
.topTabs .tabWrapper-right .appTabs {
    float: left;
    margin-left: 300px;
    margin-top: 1px;
}
.actionBar {
    display: none;
}
#courseMenuPalette div.navPaletteContent {
    background-color: #424242;
}
.actionBarMicro {
    display: none;
}
.bgBanner {
    color: #424242;
}
.announcementList .item, .announcementList-read .item, #announcementList .item {
    font-size: 1.5em;
}
.contentBox {
    border: 0px;
    box-shadow: none;
    background: #FFFFFF;
}

.portal .contentBox {
    border: 0px;
    box-shadow: none;
    background: #DDDDDD;
}

body {
    background: #DDDDDD;
}
nav {
    box-shadow: none;
}
.container{
    display: float;
    margin: 0px;
    max-width: 1200px;
}
.breadcrumbs {
    margin: 0px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
#quick_links_wrap a {
    display: none !important;
}
.pageTitle {
    background: #DDDDDD;
}

.menu-item li {
    /*display: inline-block;
    width: px;*/
    vertical-align: top;
    text-overflow: ellipsis;
    font-size: 1em;
    height: 30px;
    border-left: 0px solid #FFFFFF !important;
    border-right: 0px solid #FFFFFF !important;
    border-top: 0px solid #FFFFFF !important;
    border-bottom: 0px solid #FFFFFF !important;
    line-height: 1.1em;
    overflow: hidden;
    color: #AAAAAA;
}



.menu-item li a {
    color: #000000;
    text-decoration: none;
}

.menu-item li:hover, .menu-item li a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
